.divChangePassword {
  font-family: "NotoSans-Regular";
  .title > span {
    color: #179a6b;
    font-family: "NotoSans-Bold";
  }
  .formInput {
    margin-top: 10px;
  }
}

.btn_submit_changePassword {
  padding-bottom: 10px;
  font-family: "NotoSans-Bold";
}
