.DropZoneCustomImage {
  .custom-dropzoneImage {
    display: inline-block;
    width: 150px;
    height: 150px;
    vertical-align: top;

    position: relative;
    padding: 0;
    transition: border-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    .bg-upload {
      display: flex;

      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .btn_imageDropZone {
    position: absolute;
    bottom: 0;
    right: 3px;
  }
}

