.trang-chu-quang-cao-container {
  font-family: 'NotoSans-Regular';

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px 5%;

    @media screen and(min-width: 1000px) {
      position: fixed;
      z-index: 999;
      width: 100%;
    }

    border-bottom: 1px solid #ddd;

    .btn_login_header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px 31.821px 10px 40.42px;

      @media screen and(max-width: 700px) {
        padding: 10px 20px 10px 20.42px;
      }

      border-radius: 20px;
      border: 1px solid #02D460;
      color: #02D460;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .titleSlide {
    height: 100%;
    padding: 3% 8%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
    background-repeat: repeat;
    justify-content: space-between;

    @media screen and(max-width: 800px) {
      padding: 10px 30px;
      flex-direction: column;
      justify-content: unset;


    }

    background-color: #ffffff;

    @media screen and(max-width: 800px) {
      background-repeat: repeat;


    }

    .left_slide {
      justify-content: center;
      display: flex;
      flex-direction: column;

      gap: 7px;

      @media screen and(max-width: 800px) {
        width: 100%;


      }
    }

    .title-left-slide {
      color: #FFEF00;
      font-size: 30px;
      font-style: normal;

      font-weight: 700;
      line-height: 48px;
      font-family: 'NotoSans-Bold';
      text-wrap: wrap;

      @media screen and(max-width: 500px) {
        font-size: 25px;

      }
    }

    .title-left-slide-2 {
      color: #FFF;
      text-align: justify;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22.5px;
      /* 150% */
    }

    .btn-actions {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      gap: 18px;
      flex-wrap: wrap;

      .btn-visit-program {
        display: flex;
        width: 180.3px;
        height: 48px;
        padding: 14px 33px 15px 33px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        font-family: "NotoSans-Bold";
        background: linear-gradient(354deg, #ED9A0B 1.62%, #FFD31F 98.84%, #F9DF7B 98.84%);
        color: white;
        border: 0;
      }

      .btn-lhtv {
        display: flex;
        font-family: "NotoSans-Bold";
        width: 173.09px;
        height: 48px;
        padding: 14px 34px 15px 34px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #FFF;
        background: #179a6b;
        color: white;
      }
    }

    .right_slide {
      width: 30%;
      margin-top: 50px;

      @media screen and(max-width: 800px) {
        width: 100%;
        margin-top: 40px;
      }

      .img-truy-xuat-app {
        margin-top: 40px;
        padding-bottom: 20px;
        width: 100%;
        height: 100%;

        @media screen and(max-width: 800px) {
          margin-top: 20px;

        }
      }
    }
  }

  .advantage-introduction-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px;
  }

  .advantage-title {
    text-transform: uppercase;
    color: #33B44A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    font-family: "NotoSans-Bold";
    background: #EDFBEF;
    padding: 5px 15px;
  }

  .introduction-advantage-description {
    color: #253745;
    margin-top: 8px;
    text-align: center;
    font-family: "NotoSans-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }

  .advantage-body {
    margin-top: 30px;
    padding: 0 10%;
    align-items: stretch;
    /* Đảm bảo chiều cao các phần tử bằng nhau */
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and(max-width: 1200px) {
      padding: 0 5%;
    }

    @media screen and(max-width: 1100px) {
      padding: 0;
    }



    .advantage-logo-center-responsive {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
    }


    .advantage-left {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      align-items: stretch;
      gap: 30px;
    }

    .advantage-item {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex: 1;
      border-radius: 16px;
      padding: 15px;
      background: #FFF;
      box-shadow: 4px 0px 0px 0px #EBF8ED inset, -4px 0px 0px 0px #EBF8ED inset;

      .advantage-item-right {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .advantage-item-icon {
        img {
          width: 60px;
          height: 60px;
        }
      }
    }

    .advantage-item-right-top {
      color: #253745;
      font-family: "NotoSans-Bold";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 120% */
    }

    .advantage-item-right-bottom {
      color: #9B9B9B;
      font-family: "NotoSans-Regular";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22.5px;
      /* 150% */
    }
  }

  .advantage-logo-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and(max-width: 900px) {
      display: none;

    }
  }

  .homepage-eco-system-container {
    margin-top: 50px;
    box-shadow: 0 0 0 50px #ffffff;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
    flex-direction: column;
    background-image: url('../../../assets/images/backgroudEcoSystem.png');

    .homepage-eco-system-title {
      text-align: center;
      color: #253745;
      padding: 10px;

      text-align: center;
      font-family: "NotoSans-Bold";
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }

    .homepage-eco-system-description {
      color: #9B9B9B;
      font-family: "NotoSans-Regular";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22.5px;
      text-align: center;
      padding: 0 20%;

      @media screen and(max-width: 1200px) {
        padding: 0 10%;

      }

      @media screen and(max-width: 800px) {
        padding: 0 5%;

      }
    }

    .youtube-eco-system-video {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;

      iframe {
        width: 50%;
        aspect-ratio: 16/9;

        @media screen and(max-width: 1000px) {
          width: 90%;
        }
      }
    }
  }

  .txng-mobile-container {
    background-color: white;
    margin-top: 30px;
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
    padding: 0 20%;

    @media screen and(max-width: 1200px) {
      padding: 0 10%;


    }

    @media screen and(max-width: 1100px) {
      flex-direction: column-reverse;


    }

    @media screen and(max-width: 800px) {
      padding: 0 5%;
      flex-direction: column-reverse;

    }

    .txng-mobile-container-right {
      img {
        width: 100%;
        height: 100%;
      }
    }

    .txng-mobile-container-left {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .txng-mobile-tagname {
        color: #33B44A;
        font-family: "NotoSans-Bold";
        background: #EDFBEF;
        display: inline-flex;
        padding: 4px 8px 2px 11px;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 20px;
        width: fit-content;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }

      .txng-mobile-description {
        color: #253745;

        font-family: "NotoSans-Bold";
        text-wrap: wrap;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
      }

      .txng-mobile-feature {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 100%;
      }

      .txng-mobile-feature-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
      }

      .txng-mobile-feature-item-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .txng-mobile-feature-item-right-top {
        color: black;

        font-family: "NotoSans-Bold";
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26.4px;
      }

      .txng-mobile-feature-item-right-bottom {
        color: #9B9B9B;

        font-family: "NotoSans-Regular";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.5px;
        text-wrap: wrap;
      }

      .txng-mobile-feature-left-app {
        margin-top: 15px;
        border-radius: 16px;
        background: rgba(249, 249, 252, 0.80);
        box-shadow: 4px 0px 0px 0px #EBF8ED inset, -4px 0px 0px 0px #EBF8ED inset;
        display: flex;
        flex-direction: row;
        padding: 25px;
        gap: 25px;
      }

      .txng-mobile-feature-left-app-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .txng-mobile-feature-left-app-right-top {
        color: #252E4F;

        font-family: "NotoSans-Regular";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.5px;
      }

      .txng-mobile-feature-left-app-right-bottom {
        color: #9B9B9B;

        font-family: "NotoSans-Regular";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.5px;
      }
    }
  }

  .solutions-container {
    padding: 0 15%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    @media screen and(max-width: 1200px) {
      padding: 0 10%;
    }

    @media screen and(max-width: 800px) {
      padding: 0 5%;

    }

    .solutions-title {
      margin-top: 30px;
      color: #33B44A;

      text-align: center;
      font-family: "NotoSans-Bold";
      text-transform: uppercase;
      font-size: 20px;
      height: 32px;
      padding: 4px 8px 2px 11px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: fit-content;
      background: #EDFBEF;
    }

    .solutions-pp {
      color: #253745;

      text-align: center;
      font-family: "NotoSans-Bold";
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 45px
    }
  }

  .solutions-bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @media screen and(max-width: 1000px) {
      flex-direction: column;
    }
  }

  .solutions-right-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;

    @media screen and(max-width: 1000px) {
      width: 100%;
    }

    margin-top: 15px;
  }

  .solutions-right-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 40px;
  }

  .solutions-right-right-top-item {
    color: #252E4F;

    font-family: "NotoSans-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .solutions-left-bottom {
    display: flex;
    align-items: center;
    width: 50%;

    @media screen and(max-width: 1000px) {
      width: 100%;
    }

    img {
      width: 100%;
      aspect-ratio: 530/502;
    }
  }

  .solutions-right-right-bottom-item {
    margin-top: 10px;
    margin-left: -15px;
    color: #9B9B9B;

    font-family: "NotoSans-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  .solutions-right-right-bottom-item-span {
    margin-top: 10px;
    margin-left: 15px;
    text-wrap: wrap;
    text-align: justify;
    color: #9B9B9B;

    font-family: "NotoSans-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  .circle-ad-container {
    padding-top: 30px;
    background-repeat: repeat;
    width: 100%;
    background: linear-gradient(0deg, rgba(225, 244, 228, 0.00) 0%, #F0FAF2 73.46%);
    //background-image: url('../../../assets/images/icon/bgCircle.png');
  }

  .circle-ad-item {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    align-items: center;


    @media screen and(max-width: 800px) {
      padding: 0 5%;

    }

    .circle-ad-item-title {
      color: #33B44A;

      text-align: center;
      font-family: "NotoSans-Bold";
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }

    .circle-ad-item-desciption {
      color: #9B9B9B;
      margin-top: 8px;
      text-align: center;
      font-family: "NotoSans-Regular";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
    }

    .circle-ad-body {
      margin-top: 50px;
      display: flex;
      flex-direction: row;

      @media screen and(max-width: 1000px) {
        flex-direction: column;

      }
    }

    .circle-ad-item1 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 24px;
      margin-top: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      @media screen and(max-width: 1000px) {
        align-items: flex-start;
      }

      border-radius: 8px;
      background: #FFF;
      box-shadow: -4px 0px 0px 0px #EBF8ED inset,
      4px 0px 0px 0px #EBF8ED inset;

      .circle-ad-item1-title {
        color: #252E4F;

        text-align: right;

        @media screen and(max-width: 1000px) {
          text-align: left;
        }

        font-family: "NotoSans-Bold";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19.2px;
      }

      .circle-ad-item1-desciption {
        color: #9B9B9B;
        font-family: "NotoSans-Regular";
        font-size: 18px;
        text-align: right;

        @media screen and(max-width: 1000px) {
          text-align: left;
        }

        font-style: normal;
        font-weight: 400;
        line-height: 27px;

        /* 150% */
      }
    }

    .circle-ad-mid {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 30px;
      margin-top: 100px;

      @media screen and(max-width: 1000px) {
        margin-left: 0;
      }
    }
  }

  .circle-ad-left {
    @media screen and(min-width: 1000px) {
      width: 35%;
    }

  }

  .circle-ad-right {
    @media screen and(min-width: 1000px) {
      width: 32%;
    }
  }

  .circle-ad-mid {
    @media screen and(min-width: 1000px) {
      width: 40%;
    }
  }

  .solutions-mobile-show {
    display: none;

    @media screen and(max-width: 1000px) {
      display: unset;
      margin-top: 50px;

      width: 100%;
      height: 100%;


    }
  }

  .solutions-mobile-hidden {
    display: none;

    @media screen and(min-width: 1001px) {
      display: unset;

    }
  }

  .hidden-solutions {
    @media screen and(max-width: 1000px) {
      margin-top: -100px;


    }
  }

  .left-solutions {
    align-items: flex-start !important;
  }

  .service-container {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
    background: linear-gradient(180deg, rgba(225, 255, 255, 0.00) 0%, #F0FAF2 73.46%);

    @media screen and(max-width: 1200px) {
      padding: 0 10%;

    }

    @media screen and(max-width: 800px) {
      padding: 0 5%;
      padding-bottom: 50px;

    }

    padding-top: 70px;
    padding-bottom: 60px;
    align-items: center;
  }

  .service-tag {
    padding: 15px;
    color: #33B44A;
    margin-top: 50px;

    width: fit-content;
    text-align: center;
    font-family: "NotoSans-Bold";
    background: #EDFBEF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;

    line-height: 24px;
  }

  .service-tag-body {
    color: #253745;

    text-align: center;
    font-family: "NotoSans-Bold";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .service-support {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 30px;

    @media screen and(max-width: 1000px) {
      flex-direction: column;

    }
  }

  .service-support-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 14px 0px rgba(51, 180, 74, 0.10);
  }

  .service-support-title {
    color: #252E4F;

    font-family: "NotoSans-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .service-support-description {
    color: #9B9B9B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 150% */
  }

  .service-support-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .download-app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-image: url('../../../assets/images/icon/footerBg.png');
    padding: 0 15%;

    background-repeat: repeat;

    @media screen and(max-width: 1200px) {
      padding: 0 10%;
      flex-direction: column;



    }

    @media screen and(max-width: 800px) {
      padding: 0 5%;

    }
  }

  .download-app-title {
    color: #FFF;

    font-family: "NotoSans-Bold";
    font-size: 30px;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

    @media screen and(max-width: 1200px) {
      margin-top: 50px;


    }
  }

  .icon-store {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    gap: 15px;

    img {
      height: fit-content;
    }



  }

  .icon-google {
    margin-right: -60px;
  }

  .footer-hd {
    padding: 15px 20%;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    justify-content: center;
    color: #A6A6A6;

    span {
      text-align: center;
    }

    @media screen and(max-width: 1000px) {
      padding: 15px 10%;

    }

    @media screen and(max-width: 800px) {
      padding: 15px 5%;

    }
  }

  .footer-hr {
    width: 100%;
  }

}
