.modal-show-blockchain {
  .ant-steps-item-content {
    padding-bottom: 20px;
  }
  .ant-steps-item-title{
    font-family: "NotoSans-Bold";
    font-size: 16px;
  }
  .ant-steps-item-description{
    font-family: "NotoSans-Regular";
    font-size: 14px;
  }
  .ant-steps-item-active {
    .ant-steps-item-container {
      .ant-steps-item-title {
        color: #179a6b;
      }
    }
  }
  .description{
    display: flex;
    flex-direction: column;
  }
  .aBlod{
    font-family: "NotoSans-Bold";
  }
}

