.homepage {
  font-family: "NotoSans-Bold";
  height: calc(100vh - 122px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;


  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    height: auto;
    .img_app{
      margin-top: -30px;
    }
  }

  .row-linkdownloadapp {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -50px;

    @media screen and (max-width: 800px) {
      align-items: center;
      justify-content: center;
    }
  }
}
