.title-nkkd-preview{
  font-family: "NotoSans-Bold";
  font-size: 14pt;
}
.title-nkkd{
  font-family: "NotoSans-Bold";
  font-size: 12pt;
}

.NKKD-Preview-Map{
  margin-top: 10px;
  .content-nkkd{
    .title{
      font-family: "NotoSans-Bold";
    }
  }
}
